body {
  background-color: black;
}
.wrapper {
  height: 800px;
}
.container-header {
  display: flex;
}
.link {
  display: flex;
  flex-direction: column;
  margin-left: 1100px;
  margin-top: 100px;
  font-size: 35px;
  text-decoration: none;
}
.link a {
  color: white;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.link a:hover {
  color: yellow;
  font-size: 40px;
  text-decoration: underline;
}

.title {
  margin-left: 30px;
  font-family: sans-serif;
  color: white;
  font-size: 80px;
  font-weight: 400;
  transition: 0.4s ease-in-out;
}
.title:hover {
  color: yellow;
}

.title2 {
  color: white;
  margin-left: 30px;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  transition: 0.4s ease-in-out;
  margin-bottom: 100px;
}

.title2:hover {
  color: yellow;
}
.header {
  display: flex;
}
.main {
  display: flex;
}
.img-main {
  position: relative;
  width: 440px;
  height: 660px;
  margin-left: 300px;
  margin-top: 63px;
  border-radius: 10%;
  margin-right: -330px;
  margin-top: -350px;
}

.conainer-button {
  padding-top: 60px;
  margin-top: 0px;
}

.button1 {
  width: 235px;
  height: 81px;
  border-radius: 40px;
  border-style: solid;
  border-width: 0.9px;
  border-color: #e9e9e9;
  font-size: 2.2vw;
  background-color: #000;
  color: #e9e9e9;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}
.button1:hover {
  color: yellow;
  font-size: 2.4vw;
}
